body {
    margin: 0;
    overscroll-behavior: none;
    --primary-color: white;
}

::marker {
    display: none;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

*:focus,
*:focus-within {
    outline: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.justify-space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}